{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
{% if site_settings and site_settings.favicon %}
<link rel="icon" type="image/png" href="{{ site_settings.favicon.url }}">
<link rel="shortcut icon" href="{{ site_settings.favicon.url }}">
{% endif %}

{% if site_settings and site_settings.logo %}
<style>
  /* Override Jazzmin logo with uploaded logo from Site Settings */
  .brand-image,
  .login-logo img {
    content: url('{{ site_settings.logo.url }}') !important;
  }
  .brand-image {
    max-height: 33px !important;
    width: auto !important;
  }
</style>
{% endif %}
{% endblock %}
